ul.tabNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 60px;
  margin: -13px 0 3px 0;
}

ul.tabNav li {
  position: relative;
  list-style: none;
  text-align: center;
  cursor: pointer;
  color: gray;
  margin-bottom: 4px;
  width: 70px;
}

ul.tabNav li:after {
  width: 100%;
  left: 0;
}

ul.tabNav li:hover {
  color: #c7c7c7;
}

/*ul.tabNav li:first-child {
  text-align: right;
}

ul.tabNav li:last-child {
  text-align: left;
}*/

ul.tabNav li.active {
  color: inherit;
}

ul.tabNav li::after{
  content: '';
  position: absolute;
  width: 0;
  height: 7px;
  left: 50%;
  bottom: -8px;
  background-color: #6d6d6d;
  transition: all ease-in-out .2s;
  border-radius: 4px 4px 0 0;
}

ul.tabNav li.active::after{
  width: 100%;
  left: 0;
}
