body {
  /*background: #101010;*/
  background: #181610;
  /*background: #222;*/
  font-family: lato,sans-serif;
  color: #fff;
  /*color: #e6e6e6;*/
}

h2 {
  margin: 0;
  text-align: left;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content-box {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.content-block {
  /*background: #202020;*/
  background: #2e2e2e;
  border-radius: 4px;
  box-sizing: border-box;
  /*display: table-cell;*/
  overflow: hidden;
  padding: 10px;
  vertical-align: top;
  min-width: 300px;
}

.content-block div img {
  width: 10%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
