#STRT input[type=text] {
  background-image: url(images/dungeons/tazavesh-streets-of-wonder.jpg);
}

#GMBT input[type=text] {
  background-image: url(images/dungeons/tazavesh-soleahs-gambit.jpg);
}

#YARD input[type=text] {
  background-image: url(images/dungeons/operation-mechagon-junkyard.jpg);
}

#WORK input[type=text] {
  background-image: url(images/dungeons/operation-mechagon-workshop.jpg);
}

#ID input[type=text] {
  background-image: url(images/dungeons/iron-docks.jpg);
}

#GD input[type=text] {
  background-image: url(images/dungeons/grimrail-depot.jpg);
}

#LOWR input[type=text] {
  background-image: url(images/dungeons/return-to-karazhan-lower.jpg);
}

#UPPR input[type=text] {
  background-image: url(images/dungeons/return-to-karazhan-upper.jpg);
}

.App {
  text-align: center;
}

.SiteTitle {
  display: inline-flex;
  align-items: center;
}

body {
  background: #1b1b1b;
  font-family: lato, sans-serif;
  color: #fff;
}

.content-box {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: auto;
  max-width: 800px;
}

.content-heading {
  pointer-events: none;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  letter-spacing: .05em;
  margin: 0;
  font: 1.5em/1 Georgia;
  padding: .2em 0;
  text-shadow: 0 1px rgba(255, 255, 255, .6);
}

.content-heading:before,
.content-heading:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 30%;
  height: 1px;
  vertical-align: middle;
}

.content-heading:before {
  left: -.5em;
  margin: 0 0 0 -50%;
  background: linear-gradient(to left, #ffffff 30%, transparent);
}

.content-heading:after {
  left: .5em;
  margin: 0 -50% 0 0;
  background: linear-gradient(to right, #ffffff 30%, transparent);
}

.content-heading > span {
  display: inline-block;
  vertical-align: middle;
  white-space: pre;
}

.content-block {
  position: relative;
  background: #424242;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px;
  vertical-align: top;
  min-width: 300px;
  border: 1px solid #6d6d6d;
  margin-top: 10px;
}

.Affixes {
  display: inline-flex;
  gap: 8px;
}

.AffixesSchedule a img {
  width: 35px;
}

.Affixes a img {
  border: 2px solid #181610;
  border-radius: 8%;
}

.grayscale100 {
  filter: grayscale(100%);
}

.grayscale0 {
  filter: none;
}
