:root {
    --currentcolor: #ffbb4d;
}
.CalcModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.CalcModalContent {
    padding: 25px;
    background: #2e2e2e;
    border-radius: 16px;
    min-width: 250px;
}

.CalcModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
