.CalcScore {
    margin: 0;
    font-size: 2em;
}

.dungeon-grid {
    position: relative;
    display: inline-grid;
    justify-items: center;
}

.dungeon-grid span {
    font-weight: bold;
}

.CalcInput {
    width: 56px;
    height: 56px;
    padding: 0;
    border-width: 0;
    color: #f6714a;
    text-align: center;
    font-size: 150%;
    transition-duration: 2s;
    font-weight: 900;
    text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
}

.CalcModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.CalcModalContent {
    padding: 25px;
    background: #2e2e2e;
    border-radius: 16px;
    min-width: 250px;
}

.CalcModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.UpgradeStars {
    height: 20px;
}

.StarTimestamp {
    justify-content: space-between;
    display: flex;
}

.star0{
    margin-right: 22.5%;
}
.star0, .star1, .star2, .star3 {
    position: relative;
}

.star0:after, .star1:after, .star2:after, .star3:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 20px;
    width: 2px;
    background: gold;
    transform: translate(-50%, 100%);
    /*pointer-events: none;*/
}

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* LABEL STYLES */
[type=radio] + label {
    cursor: pointer;
}
